<%= render 'shared/content_title', title: 'Register to use GoToDo' %>

<div class="well">
<p>Create tasks that you need to manage, set an optional deadline and add your own categories. This todo app is simple by design so it gets out of your way so you can focus on the task in hand.</p>

<p>Whilst GoToDo keeps out of your way it works tirelessly behind the scenes to give you just enough built in features to to aid productivity.</p>
</div>

<%= render 'form' %>

<h4>Future GoToDo</h4>

<div class="well well-sm">
Vote for future features that you think sounds cool or suggest your own (You can only pick/suggest one feature)

coming soon ...
</div>
- add someone to task
- receive email reminders
- receive sms reminders
- 
